// Themes :: Default

.epic-hero--align-bottom {
  align-items: flex-end;
  padding-bottom: $epic-hero--padding;
}

.epic-hero--dim {
  &:before {
    display: block;
    opacity: 0.6;
  }
}

.epic-hero--faded {
  &:after {
    display: block;
    opacity: 1;
  }
}

.epic-hero--parallax {
  background-attachment: fixed;
}