// Component :: Epic Hero (Video)

.epic-hero__video {
  background-color: black;
  display: block;
  height: 56.25vw;
  left: 50%;
  margin: auto;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1.001);
  width: 178vh;
  z-index: 0;

  .epic-hero__embed,
  iframe,
  embed,
  object,
  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}